<?xml version="1.0" encoding="UTF-8"?>
<suite name="Regression Suite" parallel="tests" thread-count="3">
    <test name="Login Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Excercise_5.AuthorizationTests">
            </class>
        </classes>
    </test>
</suite>
